:root {
    --main-color: rgb(218, 238, 234);
    --menu-color: rgb(7, 65, 9);
}

* {
    margin: 0;
}

img {
    display: flex;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    min-width: 1120px;
    min-height: 750px;
}

#loading {
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_div {
    opacity: 0;
    transition: 2s;
}

a {
    text-decoration: none;
}

.thanks_p.thanks_p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: center;
}

.main_header {
    position: relative;
    overflow: hidden;
}

.main_wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    border-bottom: solid 1px darkgray;
    background-color: var(--main-color);
    z-index: 10;
}

.companyName {
    width: 30%;
    font-size: 1.5rem;
    margin: 30px 0 0 25px;
    transition: 0.3s;
    position: relative;
}

.companyName a {
    color: #40b7e6;
    text-shadow: 1px 1px 2px #174c61;
}

.companyName span {
    font-size: 0.9rem;
    color: var(--menu-color);
    text-shadow: none;
    position: absolute;
    top: -15px;
    left: 10px;
}

.main_header ul {
    width: 70%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.main_header ul li {
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.main_header ul li:not(:last-of-type) {
    border-right: solid 1px var(--main-color);
}

.main_header ul li:hover {
    background-color: rgb(9, 34, 23);
    cursor: pointer;
}

.main_header img,
.main_header .swiper {
    width: 100vw;
    min-height: 750px;
    height: calc(100vh - 100px);
    object-fit: cover;
}

.main_header .hamberger_p {
    width: 30px;
    position: absolute;
    top: 2%;
    left: 85%;
    transform: translateX(0);
    display: none;
}
.main_header .hamberger_p span {
    color: rgb(16, 99, 20);
    text-shadow: none;
    margin-top: 30px;
    font-size: 30px;
}

.main_header .hamberger_p :hover {
    color: var(--menu-color);
    cursor: pointer;
}

.main_header p {
    font-size: 1.2rem;
    letter-spacing: 3px;
    width: 1000px;
    color: #fff;
    text-shadow: black 2px 2px 2px, black -2px -2px 2px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

@media screen and (max-width: 1120px) {
    html {
        font-size: 12px;
    }

    body {
        min-width: 300px;
        /* min-height: 750px; */
    }

    .companyName {
        width: 70%;
    }

    .main_header p {
        width: 80%;
    }

    .main_header ul {
        transform: translateX(100%);
        /* background-color: antiquewhite; */
        position: absolute;
        top: 80px;
        right: 0;
        height: calc(100vh - 100px);
        width: 90%;
        display: block;
        z-index: 50;
        opacity: 0;
        transition: 0.3s;
    }

    /* active時メニュー展開 */
    .main_header ul.active {
        transform: translateX(0);
        opacity: 0.9;
    }

    .main_header ul li {
        font-size: 2rem;
        height: calc((100vh - 100px) / 6 - 20px);
    }

    .main_header ul li:not(:last-of-type) {
        border-bottom: 1px solid green;
    }

    /* active時メニュー展開 ここまで*/

    .main_header img,
    .main_header .swiper {
        object-fit: cover;
        object-position: 40% 50%;
    }

    .main_header .hamberger_p {
        display: block;
    }

    .hamberger_p {
        position: relative;
    }

    .hamberger_p::before {
        content: "menu";
        font-size: 0.8rem;
        letter-spacing: 0.8px;
        position: absolute;
        top: 20px;
        left: 0;
        color: var(--menu-color);
        text-shadow: none;
    }
}

/* swiper */
.swiper {
    width: 600px;
    height: 300px;
}
/* swiper ここまで*/

/* キャンプ場の特色 */
.top_div {
    background-color: var(--main-color);
    padding: 50px 0 0 15px;
    overflow: hidden;
}

.top_inner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.top_inner_wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 50% 50%;
}

.top_inner_wrapper h3 {
    padding: 5px 0 0 5px;
}

.top_inner_wrapper p {
    padding: 10px;
    font-size: 1.2rem;
}

.sentence_wrapper h3 {
    margin-top: 20px;
}

@media screen and (max-width: 1120px) {
    .top_inner_wrapper {
        display: block;
    }

    .top_inner_wrapper img {
        margin-top: 0%;
    }
}

/* ボタン */
.btn-square-emboss {
    padding: 0.5em 1em;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    display: block;
    text-decoration: none;
    background: #668ad8; /*ボタン色*/
    color: #4868ad; /*ボタン色より暗く*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.btn-square-emboss:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
/* ボタン　ここまで */

/* キャンプ場の特色 ここまで*/

/* 施設の案内 */
.map_div {
    padding: 30px 0 0 0px;
}

.map_div h2 {
    padding-left: 20px;
}

.map_div p {
    padding-left: 20px;
}

.map_wrapper {
    background-image: url(/img/blue-back.jpg);
    background-size: cover;
}

.map_wrapper h3 {
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem;
}

.map_inner_wrapper img {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.inner_wrapper_mini img {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    object-fit: cover;
}

.map_inner_div {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.map_inner_div p {
    margin-top: 0px;
    padding: 80px 10px 0 10px;
    text-align: left;
}

@media screen and (max-width: 1120px) {
    .map_inner_wrapper img {
        width: 100%;
    }

    .map_inner_div {
        width: 100%;
        display: block;
    }

    .map_inner_div p {
        padding: 20px 10px;
    }

    .inner_wrapper_mini img {
        width: 100%;
        height: 100%;
    }
}

/* お知らせ */
.news_div {
    background-color: var(--main-color);
    padding: 50px 0 100px 15px;
    overflow: hidden;
}

.news_div h2 {
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.news_inner_wrapper {
    max-width: 1500px;
    margin: 5px auto 20px auto;
    display: grid;
    grid-template-columns: 1.3fr 3fr 6fr;
}

.news_inner_wrapper time {
    margin-right: 50px;
}

.news_inner_wrapper h4 {
    margin: 0 20px 20px 0;
}

.news_inner_wrapper span {
    background-color: rgb(207, 10, 10);
    color: white;
    font-weight: bold;
    margin-left: 20px;
    padding: 2px 10px;
    border-radius: 5px;
}

@media screen and (max-width: 1120px) {
    .news_inner_wrapper {
        display: block;
    }
}

/* お知らせ ここまで*/

/* アクセス */

.access_inner_div {
    padding: 20px 15px;
    background-image: url(/img/access-pic.jpg);
    background-size: cover;
    position: relative;
    z-index: 5;
}

.access_inner_div::before {
    background: inherit;
    top: 0;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    z-index: -1;
}

.access_inner_div h2 {
    max-width: 1500px;
    margin: 0 auto;
    font-size: 2rem;
}

.access_inner_p {
    max-width: 1500px;
    margin: 0 auto;
    font-weight: bold;
}

.access_inner_p p {
    margin-bottom: 10px;
}

iframe {
    display: flex;
}

/* アクセス ここまで*/

/* よくあるご質問 */
.faq_div {
    background-color: var(--main-color);
    padding: 50px 0 100px 15px;
    overflow: hidden;
}

.faq_div h2 {
    font-size: 2rem;
    max-width: 1500px;
    margin: 20px auto;
}

.faq_div hr {
    max-width: 1500px;
    margin: 0 auto;
}

.question {
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.answer {
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    color: black;
    display: none;
}

.answer.active {
    display: block;
}

/* よくあるご質問 ここまで*/

/* お問合せ */
.information_div {
    padding-top: 25px;
    background-color: var(--main-color);
}

.information_div h2 {
    font-size: 2rem;
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;
}

.information_div .container {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fafafa;
}
.information_div .head {
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    background-color: #2abca7;
    color: #fafafa;
}
.information_div h3 {
    text-align: center;
    padding: 18px 0 18px 0;
    font-size: 1.4em;
}
.information_div input {
    margin-bottom: 10px;
}
.information_div textarea {
    height: 100px;
    margin-bottom: 10px;
}
.information_div input:first-of-type {
    margin-top: 35px;
}
.information_div input,
.information_div textarea {
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: "Source Sans Pro", arial, sans-serif;
    border: 1px solid #cecece;
    background: #d7d7d7;
    color: #fafafa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
}
::-webkit-input-placeholder {
    color: #fafafa;
}
:-moz-placeholder {
    color: #fafafa;
}
::-moz-placeholder {
    color: #fafafa;
}
:-ms-input-placeholder {
    color: #fafafa;
}
.information_div button {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #2abca7;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2abca7;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
    width: 30%;
    color: #fff;
}
.information_div button:hover,
.information_div .button:hover {
    background: #19a08c;
}
.information_div label.error {
    font-family: "Source Sans Pro", arial, sans-serif;
    font-size: 1em;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d89c9c;
    width: 80%;
    margin: auto;
    color: #fafafa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
/* media queries */
@media (max-width: 700px) {
    .information_div label.error {
        width: 90%;
    }
    .information_div input,
    .information_div textarea {
        width: 90%;
    }
    .information_div button {
        width: 90%;
    }
}
.information_div .message {
    font-family: "Source Sans Pro", arial, sans-serif;
    font-size: 1.1em;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2abca7;
    width: 80%;
    margin: auto;
    color: #fafafa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
/* お問合せ ここまで*/

/* ナビゲーション */
.nav {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.nav_ul {
    max-width: 1000px;
    padding: 100px 0;
    color: var(--menu-color);
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.nav_ul li {
    width: 33%;
    text-align: center;
    margin: 15px 0;
    background-color: rgba(64, 183, 230, 0);
    transition: 0.3s;
}

.nav_ul li:hover {
    cursor: pointer;
    background-color: rgba(64, 183, 230, 1);
    background-position: 0;
}

@media (max-width: 700px) {
    .nav_ul li {
        width: 50%;
    }
}

/* ナビゲーション ここまで*/

footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 5px;
}
