:root {
    --main-color: rgb(218, 238, 234);
    --menu-color: rgb(7, 65, 9);
}

* {
    margin: 0;
}

img {
    display: flex;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    min-width: 1120px;
    min-height: 750px;
}

a {
    text-decoration: none;
}

.main_header {
    position: relative;
    overflow: hidden;
}

.main_wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    border-bottom: solid 1px darkgray;
    background-color: var(--main-color);
    z-index: 10;
}

.companyName {
    width: 30%;
    font-size: 1.5rem;
    color: rgb(36, 19, 110);
    text-shadow: 1px 1px 2px rgb(18, 8, 59);
    margin: 30px 0 0 25px;
    transition: 0.3s;
    position: relative;
}

.companyName span {
    font-size: 0.9rem;
    color: black;
    text-shadow: none;
    position: absolute;
    top: -15px;
    left: 10px;
}

.main_header ul {
    width: 70%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.main_header ul li {
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.main_header ul li:not(:last-of-type) {
    border-right: solid 1px var(--main-color);
}

.main_header ul li:hover {
    background-color: rgb(9, 34, 23);
    cursor: pointer;
}

.main_header img {
    width: 100vw;
    min-height: 750px;
    height: calc(100vh - 100px);
    object-fit: cover;
}

.main_header .hamberger_p {
    width: 30px;
    position: absolute;
    top: 2%;
    left: 80%;
    transform: translateX(0);
    display: none;
}
.main_header .hamberger_p span {
    color: rgb(16, 99, 20);
    text-shadow: none;
    margin-top: 30px;
    font-size: 30px;
}

.main_header .hamberger_p :hover {
    color: var(--menu-color);
    cursor: pointer;
}

.main_header p {
    font-size: 1.2rem;
    letter-spacing: 3px;
    width: 1000px;
    color: #fff;
    text-shadow: black 2px 2px 2px, black -2px -2px 2px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1120px) {
    html {
        font-size: 12px;
    }

    body {
        min-width: 300px;
        /* min-height: 750px; */
    }

    .companyName {
        width: 70%;
    }

    .main_header p {
        width: 80%;
    }

    .main_header ul {
        transform: translateX(100%);
        /* background-color: antiquewhite; */
        position: absolute;
        top: 100px;
        right: 0;
        height: calc(100vh - 100px);
        width: 90%;
        display: block;
        z-index: 50;
        opacity: 0;
        transition: 0.3s;
    }

    /* active時メニュー展開 */
    .main_header ul.active {
        transform: translateX(0);
        opacity: 0.8;
    }

    .main_header ul li {
        font-size: 2rem;
        height: calc((100vh - 100px) / 6 - 20px);
    }

    /* active時メニュー展開 ここまで*/

    .main_header img {
        object-fit: cover;
        object-position: 40% 50%;
    }

    .main_header .hamberger_p {
        display: block;
    }

    .hamberger_p {
        position: relative;
    }

    .hamberger_p::before {
        content: "menu";
        font-size: 0.8rem;
        letter-spacing: 0.8px;
        position: absolute;
        top: 20px;
        left: 0;
        color: var(--menu-color);
        text-shadow: none;
    }
}

.top_div {
    background-color: var(--main-color);
    padding: 50px 0 0 10px;
}

/* キャンプ場の特色 */
.top_inner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.top_inner_wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 50% 50%;
}

.top_inner_wrapper h3 {
    padding: 5px 0 0 5px;
}

.top_inner_wrapper p {
    padding: 10px;
    font-size: 1.2rem;
}

@media screen and (max-width: 1120px) {
    .top_inner_wrapper {
        display: block;
    }

    .top_inner_wrapper img {
        margin-top: 0%;
    }
}
/* キャンプ場の特色 ここまで*/

/* 施設の案内 */
.map_div {
    padding: 30px 0 5px 5px;
}

.map_div img {
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;
}
